snippet { "Open curly bracket" i
{$1}$0
endsnippet

snippet ( "Open parenthesis" i
($1)$0
endsnippet

snippet [ "Open parenthesis" i
[$1]$0
endsnippet

snippet < "Open <" i
<$1>$0
endsnippet

snippet ' "Open single quote" i
'$1'$0
endsnippet

snippet " "Open double quote" i
"$1"$0
endsnippet

snippet '[^b]td' "superscript" irA
`!p snip.rv = match.group(0)[0:-2]`^{$1}$0
endsnippet

snippet sr "^2" iA
^2
endsnippet
